<div>
	<form class="form-group was-validated needs-validation" [formGroup]='register' (ngSubmit) = "registerUser()" id="register-form">
		<label>E-mail address:</label>
		<br/>
		<input [ngClass]="{ 'valid': !!(username.valid) }" class="form-control" type="text" name="username" placeholder="Type e-mial address" formControlName='username' [pattern]="constants.emailPattern" required="true">
		<div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || isSubmitted) && username.errors?.required">Email is required.</div>
  		<div class="invalid-feedback" *ngIf="username.errors?.pattern && !username.errors?.required">Invalid email(build in).</div>
		<br/>
		<label>Password:</label>
		<br/>
		<input [ngClass]="{ 'valid': !!(passwd.valid) }" class="form-control" type="password" name="passwd" placeholder="Type password" formControlName="passwd" required="true" [pattern]="constants.passwordPattern">
		<div class="invalid-feedback" *ngIf="passwd.invalid && (passwd.dirty || isSubmitted) && passwd.errors?.required">Passwords required.</div>
		<small id="passwordHelpInline" class="text-muted">Password must have 1 digit and 1 letter.</small>
		<div class="invalid-feedback" *ngIf="passwd.invalid && (passwd.dirty || isSubmitted) && passwd.errors?.pattern">Password must have 1 digit and 1 letter.</div>
		<br/>
		<label>Repeat password:</label>
		<br/>
		<input [ngClass]="{ 'valid': (repeatedPasswd.value === passwd.value) && repeatedPasswd.value }" class="form-control" type="password" name="repeatedPasswd" placeholder="Repeat password" formControlName="repeatedPasswd" required="true" [pattern]="constants.passwordPattern">
		<small class="invalid-feedback" *ngIf="repeatedPasswd.invalid && (repeatedPasswd.dirty || isSubmitted) && repeatedPasswd.errors?.required">Passwords required.</small>
		<small class="invalid-feedback" *ngIf="repeatedPasswd.errors?.identity">Passwords must be the same as repeated.</small>
		<br/>
		<div>{{(repeatedPasswd.value)}}</div>

		<!-- <label>Name:</label>
		<br/>
		<input type="text" name="name" placeholder="Type your name" [(ngModel)]="user.name">
		<br/>
		<label>Surname:</label>
		<br/>
		<input type="text" name="surname" placeholder="Type your surname" [(ngModel)]="user.surname">
		<br/> -->
		<br/>
		<input class="btn btn-primary btn-lg" type="submit" value="Submit">
		<input class="btn btn-secondary btn-lg" type="button" value="Reset" (click)="resetFormData()">
	</form>
</div>
<!-- Email entered is : {{ user.username }} -->